<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>信息管理系统--管理员端</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="../css/admin_login.css">
</head>
<body>

<div id="particles-js" style="display: flex;align-items: center;justify-content: center">
</div>
<form action="/admin/loginCheck" method="post" id="login-form">
    <div class="login-page">
        <div class="login-content">
            <div class="login-tit">登录 &nbsp;&nbsp;&nbsp;&nbsp;<span id="login-message" style="font-size: 16px;color: #ff0000"></span></div>
            <div class="login-input">
                <label>
                    <input id="username" type="text" name="username" placeholder="用户名">
                </label>
            </div>
            <div class="login-input">
                <label>
                    <input id="password" type="password" name="password" placeholder="密码">
                </label>
            </div>
            <div class="login-btn">
                <div class="login-btn-left">
                    <span onclick="loginCheck()">登录</span>
                </div>
                <!--<div class="login-btn-right" onClick="changeImg()">
                  <img src="img/check.png" alt="" id="picture"> 记住密码
                </div>-->
            </div>
        </div>
    </div>
</form>

<script src="../js/particles.js"></script>
<script src="../js/app.js"></script>
<!--<script>
    function changeImg() {
        let pic = document.getElementById('picture');
        console.log(pic.src)
        if (pic.getAttribute("src", 2) == "img/check.png") {
            pic.src = "img/checked.png"
        } else {
            pic.src = "img/check.png"
        }
    }
</script>-->
<script src="../js/jquery.js"></script>
<script src="../js/md5.js"></script>

<script type="text/javascript">

    function loginCheck() {
        let username = $("#username");
        let password = $("#password");

        if(username.val() === "" || password.val() === "") {
            $("#login-message").html("用户名或密码不能为空");
            return false;
        }
        let md5Password = md5(password.val());
        $.ajax({
            url: "/admin/loginCheck",
            method: "post",
            data: {
                username: username.val(),
                password: md5Password
            },
            success: function (data) {
                if (data === 0) { // 登录成功
                    location.href="/admin/main";
                } else if (data === -1) { // 用户不存在
                    username.val("");
                    password.val("");
                    $("#login-message").html("用户不存在");
                } else if (data === -2) { // 密码不正确
                    password.val("");
                    $("#login-message").html("密码不正确");
                }
            },
            fail: function () {
                $("#login-message").html("网络错误");
            }
        });

    }
</script>
</body>
</html>
