<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-article">
            <dt>
                <i class="Hui-iconfont">&#xe60d;</i> 学生
                <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li><a href="/admin/listCommodity" title="学生信息管理">学生信息管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt>
                <i class="Hui-iconfont">&#xe60d;</i> 教师
                <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li><a href="/admin/listRule" title="团购信息">教师信息管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product">
            <dt>
                <i class="Hui-iconfont">&#xe622;</i> 班级
                <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li><a href="/admin/listUser" title="班级信息管理">班级信息管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-member">
            <dt>
                <i class="Hui-iconfont">&#xe62d;</i> 管理员
                <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li><a href="/admin/listAdmin" title="管理员信息管理">管理员信息管理</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="displayArrow hidden-xs">
    <a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>