<!DOCTYPE HTML>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="admin/public/_head" />

<body>

<th:block th:replace="admin/public/_header" />

<th:block th:replace="admin/public/_menu" />

<article class="page-container">
	<form class="form form-horizontal" id="form-article-add" onsubmit="return submitForm()">
		<div class="row c1">
			<label class="form-label col-xs-4 col-sm-2">帐号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" name="username" id="username"/>
			</div>
		</div>
		<div class="row c1">
			<label class="form-label col-xs-4 col-sm-2">密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" name="password" id="password"/>
			</div>
		</div>
		<div class="row c1">
			<label class="form-label col-xs-4 col-sm-2">确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" name="confirmPassword" id="confirmPassword"/>
			</div>
		</div>
		<div class="row c1">
			<label class="form-label col-xs-4 col-sm-2">真实姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" name="realName" id="realName"/>
			</div>
		</div>
		<div class="row c1">
			<label class="form-label col-xs-4 col-sm-2">联系电话：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" name="phone" id="phone"/>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onclick="submitForm()" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 提交</button>
				<button onClick="window.history.back();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>

<th:block th:replace="/admin/public/_footer.html" />

<script type="text/javascript" th:src="@{/hui/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/webuploader/0.1.5/webuploader.min.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/ueditor/1.4.3/ueditor.config.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/ueditor/1.4.3/ueditor.all.min.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js}"></script>
<script type="text/javascript" th:src="@{/js/md5.js}"></script>

<script type="text/javascript">

	function submitForm() {
		const username = $("#username");
		const password = $("#password");
		const confirmPassword = $("#confirmPassword");
		const realName = $("#realName");
		const phone = $("#phone");

		if (username.val() === "" || password.val() === "" || confirmPassword.val() === "" || realName.val() === "" || phone.val() === "") {
			layer.open({
				title: '提示信息',
				content: '请完善信息'
			});
			return false;
		}
		if (password.val() !== confirmPassword.val()) {
			layer.open({
				title: '提示信息',
				content: '两次输入的密码不一致',
				time: 2000
			});
			password.focus();
			return false;
		}
		if (phone.val().length !== 11) {
			layer.open({
				title: '提示信息',
				content: '电话号码应为11位',
				time: 2000
			});
			phone.focus();
			return false;
		}
		let md5Password = md5(password.val());
		$.ajax({
			url: "/admin/addAdmin",
			method: "post",
			data: {
				username: username.val(),
				password: md5Password,
				realName: realName.val(),
				phone: phone.val()
			},
			success: function (data) {
				if(data === -1) {
					layer.open({
						title: '提示信息',
						content: '该用户名已存在',
						time: 1000
					});
					username.val("");
					password.val("");
					confirmPassword.val("");
					username.focus();
				} else {
					layer.open({
						title: '提示信息',
						content: '注册成功',
						time: 1000,
						end: function () {
							location.href="/admin/listAdmin";
						}
					});
				}
			}
		});
		return false;
	}


	
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>