<!DOCTYPE HTML>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="admin/public/_head" />

<body>

<th:block th:replace="admin/public/_header" />

<th:block th:replace="admin/public/_menu" />

<article class="page-container">
	<form class="form form-horizontal" id="form-article-add">  <!--onsubmit="return submitForm()"-->
		<div class="row c1">
			<label class="form-label col-xs-4 col-sm-2">帐号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="hidden" name="id" id="id" th:value="${admin.id}" />
				<input type="text" class="input-text" name="username" id="username" th:value="${admin.username}"/>
			</div>
		</div>
		<div class="row c1">
			<label class="form-label col-xs-4 col-sm-2">重置密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="button" class="btn btn-warning" value="重置密码" style="color: #ffffff;" onclick="resetPassword();"/>
			</div>
		</div>
		<div class="row c1">
			<label class="form-label col-xs-4 col-sm-2">真实姓名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" name="realName" id="realName" th:value="${admin.realName}"/>
			</div>
		</div>
		<div class="row c1">
			<label class="form-label col-xs-4 col-sm-2">联系电话：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" name="phone" id="phone" th:value="${admin.phone}"/>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button onclick="submitForm()" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 提交</button>
				<button onClick="window.history.back();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
				<button onclick="deleteAdmin()" class="btn btn-warning" type="button">&nbsp;&nbsp;删除&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>

<th:block th:replace="admin/public/_footer.html" />

<script type="text/javascript" th:src="@{/hui/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/webuploader/0.1.5/webuploader.min.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/ueditor/1.4.3/ueditor.config.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/ueditor/1.4.3/ueditor.all.min.js}"></script>
<script type="text/javascript" th:src="@{/hui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js}"></script>
<script type="text/javascript" th:src="@{/js/md5.js}"></script>

<script type="text/javascript">

	function submitForm() {
		const username = $("#username");
		const password = $("#password");
		const realName = $("#realName");
		const phone = $("#phone");

		if(username.val() === "" || password.val() === "" || realName.val() === "" || phone.val() === "") {
			layer.open({
				title: "提示信息",
				content: "请完善信息"
			});
			return false;
		}

		$.ajax({
			url: "/admin/modifyAdmin",
			method: "post",
			data: {
				id: $("#id").val(),
				username: username.val(),
				realName: realName.val(),
				phone: phone.val()
			},
			success: function (data) {
				if(data === 1) {
					layer.open({
						title: "提示信息",
						content: "修改成功",
						time: 1000,
						end: function () {
							location.href="/admin/listAdmin";
						}
					});
				} else {
					layer.open({
						title: "提示信息",
						content: "修改失败",
						icon: 2,
						time: 1000
					});
				}
			}
		});
		return false;
	}

	function resetPassword() {
		$.ajax({
			url: "/admin/resetAdminPassword",
			method: "post",
			data: {
				id: $("#id").val()
			},
			success: function (data) {
				if(data === 1) {
					layer.open({
						title: "提示信息",
						content: "重置成功",
						time: 1000
					});
				} else {
					layer.open({
						title: "提示信息",
						content: "异常",
						icon: 2,
						time: 1000
					});
				}
			},
			fail: function () {
				layer.open({
					title: "提示信息",
					content: "网络错误",
					icon: 2,
					time: 1000
				});
			}
		});
	}

	function deleteAdmin() {
		layer.confirm("该操作无法恢复，是否继续？", {icon: 0, title:'提示'}, function(index){
			$.ajax({
				url: "/admin/deleteAdmin",
				method: "post",
				data: {
					id: $("#id").val()
				},
				success: function (data) {
					if(data === 1) {
						layer.open({
							title: "提示信息",
							content: "删除成功",
							time: 1000,
							end: function () {
								location.href="/admin/listAdmin";
							}
						});
					} else {
						layer.open({
							title: "提示信息",
							content: "异常",
							icon: 2,
							time: 1000
						});
					}
				},
				fail: function () {
					layer.open({
						title: "提示信息",
						content: "网络错误",
						icon: 2,
						time: 1000
					});
				}
			});
			layer.close(index);
		});

	}


	
</script>

</body>
</html>