<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wuvvu.fudaoyuan.mapper.AdminMapper">

    <resultMap id="AdminResult" type="Admin">
        <id property="id" column="adminId" />
        <result property="username" column="adminUsername" />
        <result property="password" column="adminPassword" />
        <result property="realName" column="adminRealName" />
        <result property="phone" column="adminPhone" />
    </resultMap>

    <select id="getAdminById" resultMap="AdminResult">
        select
            a.id as 'adminId',
            a.username as 'adminUsername',
            a.password as 'adminPassword',
            a.realName as 'adminRealName',
            a.phone as 'adminPhone'
        from admin a
        where a.id = #{value}
        limit 1
    </select>

    <select id="getAdminByUsername" resultMap="AdminResult">
        select
            a.id as 'adminId',
            a.username as 'adminUsername',
            a.password as 'adminPassword',
            a.realName as 'adminRealName',
            a.phone as 'adminPhone'
        from admin a
        where a.username = #{value}
        limit 1
    </select>



    <resultMap id="StudentResult" type="Student">
        <id property="id" column="studentId" />
        <result property="code" column="studentCode" />
        <result property="password" column="studentPassword" />
        <result property="realName" column="studentRealName" />
        <result property="phone" column="studentPhone" />
        <association property="team" column="teamId" resultMap="TeamResult" />
    </resultMap>

    <select id="listStudent" resultMap="StudentResult">
        select
            s.id as 'studentId',
            s.code as 'studentCode',
            s.password as 'studentPassword',
            s.realName as 'studentRealName',
            s.phone as 'studentPhone',
            team.id as 'teamId',
            team.name as 'teamName'
        from student s, team
        where
            s.teamId = team.id
    </select>

    <select id="getStudentById" resultMap="StudentResult" parameterType="Integer">
        select
            s.id as 'studentId',
            s.code as 'studentCode',
            s.password as 'studentPassword',
            s.realName as 'studentRealName',
            s.phone as 'studentPhone',
            team.id as 'teamId',
            team.name as 'teamName'
        from student s, team
        where
            s.teamId = team.id
            and s.id = #{value}
        limit 1
    </select>

    <resultMap id="TeacherResult" type="Teacher">
        <id property="id" column="teacherId" />
        <result property="code" column="teacherCode" />
        <result property="password" column="teacherPassword" />
        <result property="realName" column="teacherRealName" />
        <result property="phone" column="teacherPhone" />
    </resultMap>

    <select id="listTeacher" resultMap="TeacherResult">
        select
            t.id as 'teacherId',
            t.code as 'teacherCode',
            t.password as 'teacherPassword',
            t.realName as 'teacherRealName',
            t.phone as 'teacherPhone'
        from teacher t
    </select>

    <select id="getTeacherById" resultMap="TeacherResult">
        select
            t.id as 'teacherId',
            t.code as 'teacherCode',
            t.password as 'teacherPassword',
            t.realName as 'teacherRealName',
            t.phone as 'teacherPhone'
        from teacher t
        where
            t.id = #{value}
        limit 1
    </select>

    <select id="getTeacherByCode" resultMap="TeacherResult">
        select
            t.id as 'teacherId',
            t.code as 'teacherCode',
            t.password as 'teacherPassword',
            t.realName as 'teacherRealName',
            t.phone as 'teacherPhone'
        from teacher t
        where
            t.code = #{value}
        limit 1
    </select>

    <resultMap id="TeamResult" type="Team">
        <id property="id" column="teamId" />
        <result property="name" column="teamName" />
        <association property="teacher" column="teacherId" resultMap="TeacherResult" />
    </resultMap>

    <select id="listTeam" resultMap="TeamResult">
        select
            t.id as 'teamId',
            t.name as 'teamName',
            te.id as 'teacherId',
            te.code as 'teacherCode',
            te.password as 'teacherPassword',
            te.realName as 'teacherRealName',
            te.phone as 'teacherPhone'
        from team t, teacher te
        where t.teacherId = te.id
    </select>

    <select id="getTeamById" resultMap="TeamResult">
        select
            t.id as 'teamId',
            t.name as 'teamName'
        from team t
        where t.id = #{value}
        limit 1

        select
            t.id as 'teamId',
            t.name as 'teamName',
            te.id as 'teacherId',
            te.code as 'teacherCode',
            te.password as 'teacherPassword',
            te.realName as 'teacherRealName',
            te.phone as 'teacherPhone'
        from team t, teacher te
        where
            t.teacherId = te.id
            and t.id = #{value}
        limit 1
    </select>

    <select id="getTeamByName" resultMap="TeamResult">
        select
            t.id as 'teamId',
            t.name as 'teamName',
            te.id as 'teacherId',
            te.code as 'teacherCode',
            te.password as 'teacherPassword',
            te.realName as 'teacherRealName',
            te.phone as 'teacherPhone'
        from team t, teacher te
        where
            t.teacherId = te.id
            and t.name like concat('%', #{value}, '%')
        limit 1
    </select>


</mapper>
